# Root-level environment variables (if any)

# Backend
BACKEND_PORT=3000
BACKEND_LOG_LEVEL=debug
WHATSAPP_API_BASE_URL=https://graph.facebook.com/v21.0
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=

# Frontend
VITE_API_BASE_URL=http://localhost:3000
